@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: theme('fontFamily.sans'); 
    font-weight: 700;
 }

  body {
    font-family: theme('fontFamily.sans');
    font-weight: 400;
    line-height: 1.6;
  }
}

.hover-badge:hover {
  transform: scale(1.05);
  transition: transform 0.2s ease;
}

select:focus {
  outline: none; /* Убираем стандартную обводку */
  border-color: #4a90e2; /* Цвет границы при фокусе */
}